AirlineReservationApp/Connected Services/FlightService/AirplaneReservationLib.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://AirplaneReservationLib" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://AirplaneReservationLib" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://AirplaneReservationLib/Imports">
      <xsd:import namespace="http://AirplaneReservationLib" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFlightService_InsertFlightInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertFlightInfo" />
  </wsdl:message>
  <wsdl:message name="IFlightService_InsertFlightInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertFlightInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightService_RetrieveAllFlightInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllFlightInformation" />
  </wsdl:message>
  <wsdl:message name="IFlightService_RetrieveAllFlightInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllFlightInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightService_RetrieveAllPlaneInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllPlaneInformation" />
  </wsdl:message>
  <wsdl:message name="IFlightService_RetrieveAllPlaneInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllPlaneInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightService_RetrieveAvailableFlightInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAvailableFlightInformation" />
  </wsdl:message>
  <wsdl:message name="IFlightService_RetrieveAvailableFlightInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAvailableFlightInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="IFlightService">
    <wsdl:operation name="InsertFlightInfo">
      <wsdl:input wsaw:Action="http://AirplaneReservationLib/IFlightService/InsertFlightInfo" message="tns:IFlightService_InsertFlightInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://AirplaneReservationLib/IFlightService/InsertFlightInfoResponse" message="tns:IFlightService_InsertFlightInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllFlightInformation">
      <wsdl:input wsaw:Action="http://AirplaneReservationLib/IFlightService/RetrieveAllFlightInformation" message="tns:IFlightService_RetrieveAllFlightInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://AirplaneReservationLib/IFlightService/RetrieveAllFlightInformationResponse" message="tns:IFlightService_RetrieveAllFlightInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllPlaneInformation">
      <wsdl:input wsaw:Action="http://AirplaneReservationLib/IFlightService/RetrieveAllPlaneInformation" message="tns:IFlightService_RetrieveAllPlaneInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://AirplaneReservationLib/IFlightService/RetrieveAllPlaneInformationResponse" message="tns:IFlightService_RetrieveAllPlaneInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAvailableFlightInformation">
      <wsdl:input wsaw:Action="http://AirplaneReservationLib/IFlightService/RetrieveAvailableFlightInformation" message="tns:IFlightService_RetrieveAvailableFlightInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://AirplaneReservationLib/IFlightService/RetrieveAvailableFlightInformationResponse" message="tns:IFlightService_RetrieveAvailableFlightInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>