AirlineReservationApp/Connected Services/BookingService/AirplaneReservationLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://AirplaneReservationLib" elementFormDefault="qualified" targetNamespace="http://AirplaneReservationLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="RetrieveOccupiedSeatsMatrixFromFlightId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="flightId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveOccupiedSeatsMatrixFromFlightIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="RetrieveOccupiedSeatsMatrixFromFlightIdResult" nillable="true" type="q2:ArrayOfFlightSeatInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="bookingDetail" nillable="true" type="q3:BookingDetailRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookTicketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>