AirlineReservationApp/Connected Services/BookingService/AirplaneReservationLib.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://AirplaneReservationLib" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://AirplaneReservationLib" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://AirplaneReservationLib/Imports">
      <xsd:import namespace="http://AirplaneReservationLib" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Enum" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookingService_RetrieveOccupiedSeatsMatrixFromFlightId_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveOccupiedSeatsMatrixFromFlightId" />
  </wsdl:message>
  <wsdl:message name="IBookingService_RetrieveOccupiedSeatsMatrixFromFlightId_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveOccupiedSeatsMatrixFromFlightIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_BookTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:BookTicket" />
  </wsdl:message>
  <wsdl:message name="IBookingService_BookTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookingService">
    <wsdl:operation name="RetrieveOccupiedSeatsMatrixFromFlightId">
      <wsdl:input wsaw:Action="http://AirplaneReservationLib/IBookingService/RetrieveOccupiedSeatsMatrixFromFlightId" message="tns:IBookingService_RetrieveOccupiedSeatsMatrixFromFlightId_InputMessage" />
      <wsdl:output wsaw:Action="http://AirplaneReservationLib/IBookingService/RetrieveOccupiedSeatsMatrixFromFlightIdResponse" message="tns:IBookingService_RetrieveOccupiedSeatsMatrixFromFlightId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookTicket">
      <wsdl:input wsaw:Action="http://AirplaneReservationLib/IBookingService/BookTicket" message="tns:IBookingService_BookTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://AirplaneReservationLib/IBookingService/BookTicketResponse" message="tns:IBookingService_BookTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>